<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWcfService" maxReceivedMessageSize="104857600">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:57670/WcfService/" binding="netTcpBinding" behaviorConfiguration="NetTcpBinding_IWcfService"
        bindingConfiguration="NetTcpBinding_IWcfService" contract="LDLService.IWcfService"
        name="NetTcpBinding_IWcfService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAacSPBwP3eyGG1upqCTZohOL8+2UgAAAAAQAAALgBAAAwggG0MIIBYqADAgECAhBxQf9xyg1ZnE8HoGQf15foMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTMwMzI4MTM0NDIzWhcNMzkxMjMxMjM1OTU5WjAXMRUwEwYDVQQDEwxMRExMb2dpc3RpY3MwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAK2Ps/uQE7bDS1y0S6YuEB4nXRvA+pT3+F0HGye6T+m279X90oOqMjGSr5q+7y7M/bkIAWQeGynOZ4lq6r2CVBwQVBd2HY+jbulHk2+ER4JRkcdEUnwEKh9SbqqJ1NrvAL3xUjucYi40G55StAQywftCEFH6peMZszg/3UorhtLdAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAQGwvYSwpEv4c3vApMKPZdZqiyP1TWhmM5EfC3250sj/Cnl7s3qr+Daiv/gWpOmJskNHDoSZvE5z60203PL/6Dw==" />
        </identity>
      </endpoint>
    </client>
    <!--58.61.157.18 localhost-->
    <!--更新服务引用后记得加上 behaviorConfiguration="NetTcpBinding_IWcfService"   -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="NetTcpBinding_IWcfService">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>