<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--WCF服务-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ldlBehavior" name="LDLWCFService.Service.WcfService">
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="netTcpBinding" contract="LDLWCFService.Service.IWcfService" bindingConfiguration="ldlBinding"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:57670/WcfService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="ldlBinding" portSharingEnabled="false" maxReceivedMessageSize="104857600">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ldlBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <serviceCertificate findValue="LDLLogistics" x509FindType="FindBySubjectName" storeLocation="CurrentUser" storeName="My" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="LDLWCFService.Validator.UserNamePasswordValidator,LDLWCFService" />
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="LDLLogisticsEntities" connectionString="metadata=res://*/EF.LDLLogisticsModel.csdl|res://*/EF.LDLLogisticsModel.ssdl|res://*/EF.LDLLogisticsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LHM-PC\SQLEXPRESS;Initial Catalog=LDLLogistics;Persist Security Info=True;User ID=LDL;Password=LDL;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>